
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* #PaymentForm{
  background-image: url('./assets/images/6.jpeg');
} */
.rccs__card{
  /* background-image: url('./assets/images/6.jpeg') !important; */
  width: 330px !important;
}
.rccs__card--front{
  background-image: url('./assets/images/6.jpeg') !important;
}
.rccs__card--back{
  background-image: url('./assets/images/6.jpeg') !important;
}
.rccs{
  width: 330px !important;
}
.rccs__number{
  width: 72% !important;
}
.rccs__card--visa .rccs__card__background, .rccs__card--visaelectron .rccs__card__background{
  background-image: url('./assets/images/6.jpeg') !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
